# Core Django
Django==5.0.1
django-environ==0.11.2


# Web Server
gunicorn==21.2.0
whitenoise==6.6.0

# CORS
django-cors-headers==4.3.1

# Forms & Validation
django-crispy-forms==2.1
crispy-tailwind==1.0.3

# API (si nécessaire plus tard)
djangorestframework==3.14.0

# Utilities
python-decouple==3.8

# Production
django-storages==1.14.2
boto3==1.34.34
