# Core Django
Django==5.0.1
django-environ

# Database
psycopg2-binary
dj-database-url
supabase
#Connexion a la Base de donnée Supabase
python-dotenv 
psycopg2

# Web Server
gunicorn==21.2.0
whitenoise==6.6.0

# CORS
django-cors-headers==4.3.1

# Forms & Validation
django-crispy-forms==2.1
crispy-tailwind==1.0.3

# API (pour les intégrations)
djangorestframework==3.14.0

# Utilities
python-dotenv==1.0.0

# Production
django-storages==1.14.2
boto3==1.34.34

# Pour la gestion des requetes entre Django et Supabase
requests
resend ==2.19.0


